# 점프 투 파이썬 연습문제

## 파이썬 프로그래밍의 기초, 자료형

### 숫자형

[문제1] 점수의 평균

홍길동씨의 과목별 점수는 각각 다음과 같다.

과목	점수  
국어	80  
영어	75  
수학	55  
홍길동씨의 평균점수를 구하시오.

In [4]:
korean = 80
english = 75
math = 55
total = korean + english + math
mean = total / 3

mean

70.0

[문제2] 나눗셈의 몫

17을 3으로 나누었을 때 그 몫을 구하시오.

In [13]:
(17 // 3)

5

[문제3] 나눗셈의 나머지

17을 3으로 나누었을 때 그 나머지 값을 구하시오.

In [14]:
(17 % 3)

2

[문제4] 자연수의 홀짝

주어진 자연수가 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해보자.

In [18]:
n = 3
if (n % 2) == 0:
    print('짝수')
else:
    print('홀수')

홀수

### 문자열 자료형

[문제1] 문자열 출력 1

다음과 같은 문자열을 출력하시오.

"점프 투 파이썬" 문제를 풀어보자

In [19]:
print("점프 투 파이썬")

점프 투 파이썬

[문제2] 문자열 출력 2

다음과 같은 문자열을 출력하시오.

Life is too short
You need Python

In [20]:
print("Life is too short You need Python")

Life is too short You need Python

[문제3] 공백 추가

다음과 같은 6개의 문자로 이루어진 "PYTHON"이라는 문자열이 있다.

PYTHON
이 "PYTHON"이라는 문자열 앞에 공백 24개를 추가하여 다음과 같은 형태의 30자리의 문자열로 만드시오.

                        PYTHON

In [24]:
"{0:>30}".format("PYTHON")

'                        PYTHON'

[문제4] 문자열 나누기

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [28]:
resno = '881120-1068234'
resno.split('-')

['881120', '1068234']

[문제5] 문자열 인덱싱

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

> pin = "881120-1068234"

In [36]:
resno.split('-')[1][0]

'1'

[문제6] 문자열 변경

다음과 같은 문자열이 있다.

1980M1120
위 문자열을 다음과 같이 변경하시오.

M19801120

In [39]:
passno = '1980M1120'
passno[passno.find('M')] + passno.split('M')[0] + passno.split('M')[1]

'M19801120'

[문제7] 문자열 찾기

다음의 문자열에서 "short"라는 문자열이 시작되는 인덱스를 구하시오.

Life is too short, you need python

In [41]:
message = "Life is too short, you need python"

message.find('short')

12



[문제8] 문자열 바꾸기1

다음과 같은 문자열이 있다.

a:b:c:d
문자열의 replace 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

a#b#c#d

In [42]:
message = 'a:b:c:d'
message.replace(':','#')

'a#b#c#d'



[문제9] 문자열 바꾸기2

다음과 같은 문자열이 있다.

a:b:c:d
문자열의 split와 join 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

a#b#c#d

In [46]:
'#'.join(message.split(':'))

'a#b#c#d'

### 리스트

[문제1] 리스트 인덱싱

다음과 같은 리스트 a가 있다.

> a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']  

a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

you too

In [49]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python'] 

print(a[4] + ' ' +a[2])

you too


[문제2] 리스트 조인

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

In [51]:
b = ['Life', 'is', 'too', 'short']

' '.join(b)

'Life is too short'




[문제3] 리스트의 갯수

다음과 같은 리스트 a가 있다.

> a = [1, 2, 3]
이 리스트의 갯수(사이즈)를 구하시오.

(힌트. 객체의 길이를 리턴하는 파이썬 내장함수 len을 이용해 보자.)

In [66]:
a = [1, 2, 3] 
len(a)

3

[문제4] 리스트의 append와 extend

다음과 같은 리스트 a가 있다.

> a = [1, 2, 3]

리스트 a에 [4, 5]를 append 했을 때와 extend했을 때의 차이점은 무엇인가?

In [67]:
a.append([4,5]) ## [4.5]를 리스트로 갖는 원소가 추가됨.
a

[1, 2, 3, [4, 5]]

In [68]:
a = [1, 2, 3]

In [69]:
a.extend([4,5]) ## 숫자 4, 5가 주가됨 
a

[문제5] 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자. (힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)

In [75]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()

a

[5, 4, 3, 2, 1]

[문제6] 리스트 삭제

[1, 2, 3, 4, 5]라는 리스트를 [1, 3, 5]로 만들어 보자.

1. 리스트의 remove 함수 이용하기
2. 리스트의 pop 함수 이용하기
3. del을 이용하기

In [79]:
a = [1, 2, 3, 4, 5]
a.remove(2)
a.remove(4)
a

[1, 3, 5]

In [82]:
a = [1, 2, 3, 4, 5]
a.pop(1)
a.pop(2)
a

[1, 3, 5]

In [83]:
a = [1, 2, 3, 4, 5]
del a[1]
del a[2]
a

[1, 3, 5]

### 튜플

문제1] 튜플 작성

숫자 3만을 요소값으로 가지는 튜플을 작성하라.

In [90]:
a = (3,)
type(a)

tuple

[문제2] 튜플 변경

다음은 튜플 (1, 2, 3)을 (1, 4, 3)과 같이 변경하려고 시도했을 경우이다. 오류의 원인에 대해서 설명하시오.

> a = (1, 2, 3)  
> a[1] = 4  
Traceback (most recent call last):  
  File "<stdin>", line 1, in <module>  
TypeError: 'tuple' object does not support item assignment

튜플은 데이터 수정을 허용하지 않는다.

[문제3] 튜플 추가

(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

오류가 발생하며 추가되지 않는다.

### 딕셔너리

[문제1] 딕셔너리 만들기

다음 표를 딕셔너리로 만드시오.

항목	  값  
name	홍길동  
birth	1128  
age	    30

In [95]:
a = { 'name': '홍길동', 'birth': 1128, 'age': '30'}
a

{'name': '홍길동', 'birth': 1128, 'age': '30'}

[문제2] 딕셔너리 오류

다음과 같은 딕셔너리 a가 있다.

> a = dict()
> a
{}
다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명하시오.

a['name'] = 'python'  
a[('a',)] = 'python'  
a[[1]] = 'python'  
a[250] = 'python'

In [98]:
a = dict()

a[[1]] = 'python'  
[[]]는 리스트를 불러오기 때문에 존재하지 않는 리스트를 불러오게 된다.

[문제3] 딕셔너리 값 추출1

딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

> a = {'A':90, 'B':80, 'C':70}

In [103]:
a = {'A':90, 'B':80, 'C':70}

a['B']

80

[문제4] 딕셔너리 값 추출2

다음은 딕셔너리의 a에서 'C'라는 key에 해당되는 value를 출력하는 프로그램이다.

> a = {'A':90, 'B':80}
> a['C']  
Traceback (most recent call last):  
  File "<stdin>", line 1, in <module>  
KeyError: 'C'  
a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생하게 된다.  
'C'에 해당되는 키값이 없을 경우 오류 대신 70을 얻을수 있도록 수정해 보자.

In [106]:
a = {'A':90, 'B':80} 

a['C'] = 70

a['C']

70

[문제5] 딕셔너리 최소값

다음과 같은 딕셔너리 a가 있다.

> a = {'A':90, 'B':80, 'C':70}  
딕셔너리 a의 value중에서 최소 값을 출력하시오.  

(힌트. 여러개의 요소값중 최소값을 얻을수 있는 min함수를 이용해 보자.)

In [116]:
a = {'A':90, 'B':80, 'C':70}

a[min(a)]

90

[문제6] 딕셔너리 리스트 변환

다음과 같은 딕셔너리 a가 있다.

> a = {'A':90, 'B':80, 'C':70}  
위 딕셔너리 a를 다음과 같은 리스트로 만들어보자.  

[('A', 90), ('B', 80), ('C', 70)]  
(힌트. 딕셔너리의 items 내장함수를 이용해 보자.)

In [117]:
a = {'A':90, 'B':80, 'C':70}
a = list(a.items())
a

[('A', 90), ('B', 80), ('C', 70)]

### 집합

- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 이는 마치 02-5절에서 살펴본 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

> s1 = set([1,2,3])  
> l1 = list(s1)  
> l1  
[1, 2, 3]  
> l1[0]  
1    
> t1 = tuple(s1)  
> t1  
(1, 2, 3)  
> t1[0]  
1

[문제1] 집합 만들기1

['a', 'b', 'c'] 라는 리스트를 집합 자료형으로 만드시오.

In [118]:
a = ['a', 'b', 'c']
set(a)

{'a', 'b', 'c'}

[문제2] 집합의 중복

중복을 허용하지 않는 집합 자료형의 특징을 이용하여 다음 a 리스트에서 중복된 숫자들을 제거해 보자.

> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [119]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

[문제3] 차집합

다음과 같은 2개의 집합 자료형이 있다.

> s1 = set(['a', 'b', 'c', 'd', 'e'])  
> s2 = set(['c', 'd', 'e', 'f', 'g'])  
s1 집합의 항목 중 s2 집합에 포함된 항목을 제거 해 보자.

In [122]:
s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

s1 - s2

{'a', 'b'}

[문제4] 집합 만들기2

집합 자료형은 다음과 같이 만들 수 있다.

> a = {'a', 'b', 'c'}  
> a  
{'a', 'b', 'c'}  
> type(a)   
<class 'set'>  
값이 하나도 없는 비어있는 set을 만들기 위해 다음과 같이 시도 해 보자.

> a = {}  
> type(a)  
<class 'dict'>
위와 같이 값이 있을 경우에는 집합 자료형으로 인식했지만 값이 없을경우에는 딕셔너리로 인식하게 된다. 그렇다면 값이 비어있는 집합 자료형은 어떻게 만들 수 있을까?

In [124]:
a = set({})
type(a)

set

[문제5] 집합 추가

다음과 같은 집합 자료형 a가 있다.

> a = {'a', 'b', 'c'}  
a 에 {'d', 'e', 'f'} 를 추가하시오.

In [128]:
a = {'a', 'b', 'c'}
a.add('d')
a.add('e')
a.add('f')
a

{'a', 'b', 'c', 'd', 'e', 'f'}

### 불(Bool)

[문제1] 불 자료형과 조건문

다음은 불 자료형을 리턴하는 조건문들이다. 각 각의 예제의 결과가 어떻게 나오는지 예상해 보자.

> 1 != 1  
> 3 > 1  
> 'a' in 'abc'  
> 'a' not in [1, 2, 3]

False  
True
True
True

In [130]:
print(1 != 1)
print(3 > 1)
print('a' in 'abc')
print('a' not in [1, 2, 3])

False
True
True
True

[문제2] bool 연산자

bool 연산자를 이용하여 다음 자료형들의 참과 거짓을 판별하시오.

> a = "python"  
> b = ""  
> c = (1,2,3)  
> d = 0

In [131]:
a = "python"
b = ""
c = (1,2,3)
d = 0
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))

True
False
True
False

### 변수