# Bag of Words Meets Bags of Popcorn

## Loading Packages

사용 할 패키지  
pandas  
seaborn  
os

In [9]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import os as os
import matplotlib.pyplot as plt

## Loading Data

Download the data file into ../data folder

In [5]:
## create folder if not exists already

directory = './data'
if not os.path.exists(directory):
    os.makedirs(directory)

In [8]:
## loading dataset
fileName =  directory +'/labeledTrainData.tsv'

train = pd.read_csv(fileName, sep = '\t')

train.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [13]:
train_len = train
train_len['reviewLen'] = len(train_len['review'])
train_len.tail()

,id,sentiment,review,reviewLen
24995,3453_3,0,It seems like more consideration has gone into...,25000
24996,5064_1,0,I don't believe they made this film. Completel...,25000
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...",25000
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,25000
24999,8478_8,1,I saw this movie as a child and it broke my he...,25000