# 점프 투 파이썬 연습문제

## 파이썬 프로그래밍의 기초, 자료형

### 숫자형

[문제1] 점수의 평균

홍길동씨의 과목별 점수는 각각 다음과 같다.

과목	점수  
국어	80  
영어	75  
수학	55  
홍길동씨의 평균점수를 구하시오.

In [4]:
korean = 80
english = 75
math = 55
total = korean + english + math
mean = total / 3

mean

70.0

[문제2] 나눗셈의 몫

17을 3으로 나누었을 때 그 몫을 구하시오.

In [13]:
(17 // 3)

5

[문제3] 나눗셈의 나머지

17을 3으로 나누었을 때 그 나머지 값을 구하시오.

In [14]:
(17 % 3)

2

[문제4] 자연수의 홀짝

주어진 자연수가 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해보자.

In [18]:
n = 3
if (n % 2) == 0:
    print('짝수')
else:
    print('홀수')

홀수

### 문자열 자료형

[문제1] 문자열 출력 1

다음과 같은 문자열을 출력하시오.

"점프 투 파이썬" 문제를 풀어보자

In [19]:
print("점프 투 파이썬")

점프 투 파이썬

[문제2] 문자열 출력 2

다음과 같은 문자열을 출력하시오.

Life is too short
You need Python

In [20]:
print("Life is too short You need Python")

Life is too short You need Python

[문제3] 공백 추가

다음과 같은 6개의 문자로 이루어진 "PYTHON"이라는 문자열이 있다.

PYTHON
이 "PYTHON"이라는 문자열 앞에 공백 24개를 추가하여 다음과 같은 형태의 30자리의 문자열로 만드시오.

                        PYTHON

In [24]:
"{0:>30}".format("PYTHON")

'                        PYTHON'

[문제4] 문자열 나누기

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [28]:
resno = '881120-1068234'
resno.split('-')

['881120', '1068234']

[문제5] 문자열 인덱싱

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

> pin = "881120-1068234"

In [36]:
resno.split('-')[1][0]

'1'

[문제6] 문자열 변경

다음과 같은 문자열이 있다.

1980M1120
위 문자열을 다음과 같이 변경하시오.

M19801120

In [39]:
passno = '1980M1120'
passno[passno.find('M')] + passno.split('M')[0] + passno.split('M')[1]

'M19801120'

[문제7] 문자열 찾기

다음의 문자열에서 "short"라는 문자열이 시작되는 인덱스를 구하시오.

Life is too short, you need python

In [41]:
message = "Life is too short, you need python"

message.find('short')

12



[문제8] 문자열 바꾸기1

다음과 같은 문자열이 있다.

a:b:c:d
문자열의 replace 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

a#b#c#d

In [42]:
message = 'a:b:c:d'
message.replace(':','#')

'a#b#c#d'



[문제9] 문자열 바꾸기2

다음과 같은 문자열이 있다.

a:b:c:d
문자열의 split와 join 함수를 이용하여 위 문자열을 다음과 같이 고치시오.

a#b#c#d

In [46]:
'#'.join(message.split(':'))

'a#b#c#d'

### 리스트

[문제1] 리스트 인덱싱

다음과 같은 리스트 a가 있다.

> a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']  

a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

you too

In [49]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python'] 

print(a[4] + ' ' +a[2])

you too


[문제2] 리스트 조인

['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

In [51]:
b = ['Life', 'is', 'too', 'short']

' '.join(b)

'Life is too short'




[문제3] 리스트의 갯수

다음과 같은 리스트 a가 있다.

> a = [1, 2, 3]
이 리스트의 갯수(사이즈)를 구하시오.

(힌트. 객체의 길이를 리턴하는 파이썬 내장함수 len을 이용해 보자.)

In [66]:
a = [1, 2, 3] 
len(a)

3

[문제4] 리스트의 append와 extend

다음과 같은 리스트 a가 있다.

> a = [1, 2, 3]

리스트 a에 [4, 5]를 append 했을 때와 extend했을 때의 차이점은 무엇인가?

In [67]:
a.append([4,5]) ## [4.5]를 리스트로 갖는 원소가 추가됨.
a

[1, 2, 3, [4, 5]]

In [68]:
a = [1, 2, 3]

In [69]:
a.extend([4,5]) ## 숫자 4, 5가 주가됨 
a

[문제5] 리스트 정렬

[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자. (힌트. 리스트의 내장함수인 sort와 reverse를 활용해 보자.)

In [75]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()

a

[5, 4, 3, 2, 1]

[문제6] 리스트 삭제

[1, 2, 3, 4, 5]라는 리스트를 [1, 3, 5]로 만들어 보자.

1. 리스트의 remove 함수 이용하기
2. 리스트의 pop 함수 이용하기
3. del을 이용하기

In [79]:
a = [1, 2, 3, 4, 5]
a.remove(2)
a.remove(4)
a

[1, 3, 5]

In [82]:
a = [1, 2, 3, 4, 5]
a.pop(1)
a.pop(2)
a

[1, 3, 5]

In [83]:
a = [1, 2, 3, 4, 5]
del a[1]
del a[2]
a

[1, 3, 5]

### 튜플

문제1] 튜플 작성

숫자 3만을 요소값으로 가지는 튜플을 작성하라.

In [90]:
a = (3,)
type(a)

tuple

[문제2] 튜플 변경

다음은 튜플 (1, 2, 3)을 (1, 4, 3)과 같이 변경하려고 시도했을 경우이다. 오류의 원인에 대해서 설명하시오.

> a = (1, 2, 3)  
> a[1] = 4  
Traceback (most recent call last):  
  File "<stdin>", line 1, in <module>  
TypeError: 'tuple' object does not support item assignment

튜플은 데이터 수정을 허용하지 않는다.

[문제3] 튜플 추가

(1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

오류가 발생하며 추가되지 않는다.

### 딕셔너리

[문제1] 딕셔너리 만들기

다음 표를 딕셔너리로 만드시오.

항목	  값  
name	홍길동  
birth	1128  
age	    30

In [95]:
a = { 'name': '홍길동', 'birth': 1128, 'age': '30'}
a

{'name': '홍길동', 'birth': 1128, 'age': '30'}

[문제2] 딕셔너리 오류

다음과 같은 딕셔너리 a가 있다.

> a = dict()
> a
{}
다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명하시오.

a['name'] = 'python'  
a[('a',)] = 'python'  
a[[1]] = 'python'  
a[250] = 'python'

In [98]:
a = dict()

a[[1]] = 'python'  
[[]]는 리스트를 불러오기 때문에 존재하지 않는 리스트를 불러오게 된다.

[문제3] 딕셔너리 값 추출1

딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

> a = {'A':90, 'B':80, 'C':70}

In [103]:
a = {'A':90, 'B':80, 'C':70}

a['B']

80

[문제4] 딕셔너리 값 추출2

다음은 딕셔너리의 a에서 'C'라는 key에 해당되는 value를 출력하는 프로그램이다.

> a = {'A':90, 'B':80}
> a['C']  
Traceback (most recent call last):  
  File "<stdin>", line 1, in <module>  
KeyError: 'C'  
a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생하게 된다.  
'C'에 해당되는 키값이 없을 경우 오류 대신 70을 얻을수 있도록 수정해 보자.

In [106]:
a = {'A':90, 'B':80} 

a['C'] = 70

a['C']

70

[문제5] 딕셔너리 최소값

다음과 같은 딕셔너리 a가 있다.

> a = {'A':90, 'B':80, 'C':70}  
딕셔너리 a의 value중에서 최소 값을 출력하시오.  

(힌트. 여러개의 요소값중 최소값을 얻을수 있는 min함수를 이용해 보자.)

In [116]:
a = {'A':90, 'B':80, 'C':70}

a[min(a)]

90

[문제6] 딕셔너리 리스트 변환

다음과 같은 딕셔너리 a가 있다.

> a = {'A':90, 'B':80, 'C':70}  
위 딕셔너리 a를 다음과 같은 리스트로 만들어보자.  

[('A', 90), ('B', 80), ('C', 70)]  
(힌트. 딕셔너리의 items 내장함수를 이용해 보자.)

In [117]:
a = {'A':90, 'B':80, 'C':70}
a = list(a.items())
a

[('A', 90), ('B', 80), ('C', 70)]

### 집합

- 중복을 허용하지 않는다.
- 순서가 없다(Unordered).

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 이는 마치 02-5절에서 살펴본 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후 해야 한다.

> s1 = set([1,2,3])  
> l1 = list(s1)  
> l1  
[1, 2, 3]  
> l1[0]  
1    
> t1 = tuple(s1)  
> t1  
(1, 2, 3)  
> t1[0]  
1

[문제1] 집합 만들기1

['a', 'b', 'c'] 라는 리스트를 집합 자료형으로 만드시오.

In [118]:
a = ['a', 'b', 'c']
set(a)

{'a', 'b', 'c'}

[문제2] 집합의 중복

중복을 허용하지 않는 집합 자료형의 특징을 이용하여 다음 a 리스트에서 중복된 숫자들을 제거해 보자.

> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [119]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

[문제3] 차집합

다음과 같은 2개의 집합 자료형이 있다.

> s1 = set(['a', 'b', 'c', 'd', 'e'])  
> s2 = set(['c', 'd', 'e', 'f', 'g'])  
s1 집합의 항목 중 s2 집합에 포함된 항목을 제거 해 보자.

In [122]:
s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

s1 - s2

{'a', 'b'}

[문제4] 집합 만들기2

집합 자료형은 다음과 같이 만들 수 있다.

> a = {'a', 'b', 'c'}  
> a  
{'a', 'b', 'c'}  
> type(a)   
<class 'set'>  
값이 하나도 없는 비어있는 set을 만들기 위해 다음과 같이 시도 해 보자.

> a = {}  
> type(a)  
<class 'dict'>
위와 같이 값이 있을 경우에는 집합 자료형으로 인식했지만 값이 없을경우에는 딕셔너리로 인식하게 된다. 그렇다면 값이 비어있는 집합 자료형은 어떻게 만들 수 있을까?

In [124]:
a = set({})
type(a)

set

[문제5] 집합 추가

다음과 같은 집합 자료형 a가 있다.

> a = {'a', 'b', 'c'}  
a 에 {'d', 'e', 'f'} 를 추가하시오.

In [128]:
a = {'a', 'b', 'c'}
a.add('d')
a.add('e')
a.add('f')
a

{'a', 'b', 'c', 'd', 'e', 'f'}

### 불(Bool)

[문제1] 불 자료형과 조건문

다음은 불 자료형을 리턴하는 조건문들이다. 각 각의 예제의 결과가 어떻게 나오는지 예상해 보자.

> 1 != 1  
> 3 > 1  
> 'a' in 'abc'  
> 'a' not in [1, 2, 3]

False  
True
True
True

In [130]:
print(1 != 1)
print(3 > 1)
print('a' in 'abc')
print('a' not in [1, 2, 3])

False
True
True
True

[문제2] bool 연산자

bool 연산자를 이용하여 다음 자료형들의 참과 거짓을 판별하시오.

> a = "python"  
> b = ""  
> c = (1,2,3)  
> d = 0

In [131]:
a = "python"
b = ""
c = (1,2,3)
d = 0
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))

True
False
True
False

### 변수

[문제1] 변수와 객체1

다음 예제를 실행하고 그 결과를 설명하시오.

> a = [1, 2, 3]  
> b = [1, 2, 3]  
> a is b

답은 False. a와 b는 그 내용은 같지만 메모리 상에 서로 다른 존재이다.

In [2]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

[문제2] 변수와 객체2

다음 예제를 실행하고 그 결과를 설명하시오.

> a = [1, 2, 3]  
> b = a  
> a is b

답은 True. b는 a를 포인트하는 변수로 사용되었다.

In [3]:
a = [1, 2, 3]
b = a
a is b

True


[문제3] 객체의 변경

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.  
아래와 같이 a, b 변수를 선언 한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까?  
그리고 이런 결과가 나오는 이유에 대해서 설명해 보자.  

> a = b = [1, 2, 3]  
> a[1] = 4  
> print(b)

변경된다. a와 b는 메모리 상에 같은 존재이기 때문이다.

In [5]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

[문제4] 리스트 복사1

다음 예제를 실행하고 그 결과를 설명하시오.

> a = [1, 2, 3]  
> b = a[:]  
> a is b

Fasle. b는 a의 값을 복제했을 뿐 메모리상에는 다른 존재.

In [6]:
a = [1, 2, 3]
b = a[:]
a is b

False

[문제5] 리스트 복사2

b리스트는 a리스트를 copy하여 다음과 같이 생성하였다.

> a = [1, 2, 3]  
> b = a[:]  
그리고 다음과 같이 a리스트의 두번째 요소값을 2에서 4로 바꾸었다.  

> a[1] = 4  
> a  
[1, 4, 3]  
> print(b)  
이제 b리스트를 출력하면 어떤 값이 출력될까? 그리고 그런 결과값이 나오는 이유에 대해서 설명하시오.

본래 (변경 전) a의 값이 출력된다.

In [7]:
a = [1, 2, 3]
b = a[:]

In [8]:
a[1] = 4
a
[1, 4, 3]
print(b)

[1, 2, 3]

[문제6] 리스트의 더하기와 extend

다음과 같은 리스트 a가 있다.

> a = [1, 2, 3]  
리스트 a에 [4, 5]를 + 기호를 이용하여 더한 결과는 다음과 같다.

> a = [1, 2, 3]  
> a = a + [4,5]  
> a
[1, 2, 3, 4, 5]  
리스트 a에 [4,5]를 extend를 이용하여 더한 결과는 다음과 같다.

> a = [1, 2, 3]  
> a.extend([4, 5])  
> a  
[1, 2, 3, 4, 5]  
+ 기호를 이용하여 더한것과 extend한 것의 차이점이 있을까? 있다면 그 차이점에 대해서 얘기해 보자.

동일하다

[문제7] 리스트 복사3

a리스트는 리스트내에 [2, 3]이라는 리스트를 하나 더 포함하고 있는 리스트이다. 이 a리스트를 copy하여 b리스트를 다음과 같이 만들었다.

> a = [1, [2, 3], 4]  
> b = a[:]  
그리고 다음과 같이 a 리스트에 포함된 [2, 3]의 첫번째 값을 2에서 5로 바꾸어 주었다. 이렇게 a리스트에 포함된 리스트의 요소값을 변경하면 b 리스트는 어떻게 될까? 그리고 그런 결과값이 나오는 이유에 대해서 설명하시오.

> a[1][0] = 5  
> a  
[1, [5, 3], 4]  
> print(b)

In [9]:
a = [1, [2, 3], 4]
b = a[:]

In [10]:
a[1][0] = 5
a
[1, [5, 3], 4]
print(b)

[1, [5, 3], 4]

b의 [2,3] a의 [2,3]은 메모리 상 같은 존재기 때문

### 제어문

#### if

[문제1] 조건문1

홍길동씨는 5,000원의 돈을 가지고 있고 카드는 없다고 한다. 이러한 홍길동씨의 상태는 아래와 같이 표현할 수 있을 것이다.

> money = 5000  
> card = False

홍길동씨는 택시를 타고 목적지까지 가려고 한다. 목적지까지 가기 위해서는 카드를 소유하고 있거나 4,000원 이상의 현금을 가지고 있어야 한다고 한다. 홍길동씨는 택시를 탈 수 있는지를 판별할 수 있는 조건식을 작성하고 그 결과를 출력하시오.

In [4]:
money = 5000
card  = False

if (money >= 4000) | (card == True):
    print("탈 수 있다.")
else:
    print("탈 수 없다.")

탈 수 있다.

[문제2] 조건문2

홍길동씨의 행운권 번호는 23번 이라고 한다. 다음은 행운권 당첨번호 리스트이다.

> lucky_list = [1, 9, 23, 46]  

홍길동씨가 당첨되었다면 “야호”라는 문자열을 출력하는 프로그램을 작성하시오.

In [5]:
lucky_list = [1, 9, 23, 46]
luckyNo = 23

if luckyNo in lucky_list:
    print("야호")

야호

[문제3] 홀수 짝수 판별

주어진 수가 짝수인지 홀수인지 판별하는 프로그램을 작성하시오.

In [9]:
n = 1

if n % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

[문제4] 문자열 분석

다음 문자열을 분석하여 나이가 30미만이고 키가 175이상인 경우에는 YES를 출력하고 아닌 경우에는 NO를 출력하는 프로그램을 작성하시오.

나이:30,키:180

In [10]:
age = 30
height = 180

if age < 30 and height >= 175:
    print("YES")
else:
    print("NO")

NO






[문제5] 조건문3

다음 코드의 결과값은 무엇일까?

> a = "Life is too short, you need python"  
> if 'wife' in a:  
...     print('wife')  
... elif 'python' in a and 'you' not in a:  
...     print('python')  
... elif 'shirt' not in a:  
...     print('shirt')  
... elif 'need' in a:  
...     print('need')  
... else:  
...     print('none')

In [11]:
a = "Life is too short, you need python"  
if 'wife' in a:  
     print('wife')  
elif 'python' in a and 'you' not in a:  
     print('python')  
elif 'shirt' not in a:  
     print('shirt')  
elif 'need' in a:  
     print('need')  
else:  
     print('none')

shirt

#### while

[문제1] 1부터 100까지 더하기

1부터 100까지의 자연수를 모두 더하고 그 결과를 출력하시오.

In [17]:
i = 0
answer = 0
while i < 101:
    answer = answer + i
    i = i + 1
answer

5050

[문제2] 3의 배수의 합

1부터 1000까지의 자연수 중 3의 배수의 합을 구하시오.

In [22]:
i = 0
answer = 0
while i < 1001:
    i = i + 1
    if i % 3 == 0:
        answer = answer + i
        
answer

166833

[문제3] 50점 이상의 총합

다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상의 점수들의 총합을 구하시오.

A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [27]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
i = 0
over50Total = 0
while i < len(A):
    if A[i] > 50:
        over50Total = over50Total + A[i]
    i = i + 1
over50Total

481

[문제4] 별 표시하기1

while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보자.

\*  
\**  
\***  
\****

In [35]:
i = 0
star = ''
while i < 4:
    i = i + 1
    j = 0
    star= ''
    while j < i:
        j = j + 1
        star = star + '*'
    print(star)

*
**
***
****

[문제5] 별 표시하기2

while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보자.

\*******  
 \*****  
  \***  
   \*

In [46]:
i = 7
star = ''
while i > 0:
    j = i
    star= ''
    while j > 0:
        j = j - 1
        star = star + '*'
    print("{0:^7}".format(star) )
    i = i - 2

*******
 *****
  ***
   *

#### for

[문제1] 1부터 100까지 출력

1부터 100까지의 숫자를 for문을 이용하여 출력하시오.

In [53]:
for i in range(1,101):
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

[문제2] 5의 배수의 총합

for문을 이용하여 1부터 1000까지의 자연수 중 5의 배수에 해당되는 자연수들의 총합을 구하시오.

In [58]:
answer = 0 
for i in range(1,1001):
    if i % 5 == 0:
        answer = answer + i
answer

100500

[문제3] 학급의 평균 점수

for문을 이용하여 A 학급의 평균 점수를 구해 보자.

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

In [60]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
count = 0
totalScore = 0 
for score in A:
    totalScore = totalScore + score
    count = count + 1

average = totalScore / count
average

79.0

[문제4] 혈액형

다음은 학생들의 혈액형(A, B, AB, O)에 대한 데이터이다.

['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']  
for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

In [63]:
bloodType = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB'] 
countA = 0
countB = 0
countO = 0 
countAB = 0

for type in bloodType:
    if type == 'A':
        countA = countA + 1
    elif type == 'B':
        countB = countB + 1
    elif type == 'O':
        countO = countO + 1
    elif type == 'AB':
        countAB = countAB + 1
    
countA, countB, countO, countAB

(3, 3, 3, 3)

[문제5] 리스트 내포1

리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.

numbers = [1, 2, 3, 4, 5]

result = []  
for n in numbers:  
    if n % 2 == 1:  
        result.append(n*2)  
        
위 코드를 리스트 내포(list comprehension)를 이용하여 표현하시오.

> result = [num * 3 for num in a]  
> print(result)  
[3, 6, 9, 12]

In [65]:
numbers = [1, 2, 3, 4, 5]

result = [n*2 for n in numbers if n % 2 == 1]  

result

[2, 6, 10]

[문제6] 리스트 내포2

리스트 내포를 이용하여 다음 문장에서 모음('aeiou')을 제거하시오.

Life is too short, you need python

In [73]:
message = 'Life is too short, you need python'
vowels = 'aeiou'
''.join([a for a in message if a not in vowels])

'Lf s t shrt, y nd pythn'

### 함수

[문제1] 홀수 짝수 판별

주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성하시오.

In [74]:
def is_odd(n):
    if n % 2 == 0:
        return True
    else:
        return False

In [75]:
n = 3
is_odd(n)

False

[문제2] 평균값 계산

입력으로 들어오는 모든 수의 평균값을 계산해 주는 함수를 작성해 보자. (단, 입력으로 들어오는 수의 갯수는 정해져 있지 않다.)

In [76]:
def avg(*numbers):
    count = 0
    total = 0
    for n in numbers:
        total = total + n
        count = count + 1
    return total / count

In [77]:
avg(55, 55,55)

55.0

[문제3] 구구단 출력

입력을 자연수 n(2부터 9까지의 자연수)으로 받았을 때, n에 해당되는 구구단을 출력하는 함수를 작성해 보자.

In [90]:
def nineByNine(n):
    if n < 2 or n > 9:
        print("잘 못 된 정수 값. 2에서 9 사이의 값을 입력해 주세요.")
    else:
        for i in range(1,10):
            answer = n * i
            print("%d X %i = %answer" % (n, i, answer))

In [91]:
nineByNine(2)

2 X 1 = 2nswer
2 X 2 = 4nswer
2 X 3 = 6nswer
2 X 4 = 8nswer
2 X 5 = 10nswer
2 X 6 = 12nswer
2 X 7 = 14nswer
2 X 8 = 16nswer
2 X 9 = 18nswer

[문제4] 피보나치

입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

피보나치 수열은 다음과 같은 순서로 결과값을 리턴한다.

fib(0) → 0 리턴  
fib(1) → 1 리턴  
fib(2) → fib(0) + fib(1) → 0 + 1 → 1 리턴  
fib(3) → fib(1) + fib(2) → 1 + 1 → 2 리턴  
fib(4) → fib(2) + fib(3) → 1 + 2 → 3 리턴

In [11]:
def fib(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [14]:
fib(5)

5

[문제5] 5보다 큰 수만

다음은 숫자들로 이루어진 리스트를 입력으로 받아 5보다 큰 수만 필터링하여 리턴해 주는 함수이다.

> def myfunc(numbers):  
...     result = []  
...     for number in numbers:  
...         if number > 5:  
...             result.append(number)  
...     return result  
...  
> myfunc([2,3,4,5,6,7,8])  
[6, 7, 8]  
위 함수를 lambda 함수로 변경해 보시오.

In [23]:
my_func = lambda numbers: [number for number in numbers if number > 5]
my_func([2,3,4,5,6,7,8])

[6, 7, 8]

#### Input

[문제1] 두 수의 합은?

다음은 두 개의 숫자를 입력받아 더하여 리턴해 주는 프로그램이다.

input1 = input("첫번째 숫자를 입력하세요:")  
input2 = input("두번째 숫자를 입력하세요:")  

total = input1 + input2  
print("두 수의 합은 %s 입니다" % total)  
이 프로그램을 수행 해 보자.  

첫번째 숫자를 입력하세요:3  
두번째 숫자를 입력하세요:6  
두 수의 합은 36 입니다  
3과 6을 입력했을 때 9가 아닌 36이라는 결과가 리턴되었다. 이 프로그램의 오류를 수정하시오.

In [26]:
input1 = input("첫번째 숫자를 입력하세요:")  
input2 = input("두번째 숫자를 입력하세요:")  

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

[문제2] 숫자의 총합

사용자로부터 다음과 같은 숫자들의 입력을 받아 입력받은 숫자들의 총합을 구하는 프로그램을 작성하시오. (단, 숫자들은 콤마로 구분하여 입력한다.)

65,45,2,3,45,8

In [46]:
def total():
    a = input()
    number = a.split(',')
    answer = 0
    for i in number:
        answer = answer + int(i)
    return answer

In [47]:
total()

65,45,2,3,45,8

168

[문제3] 문자열 출력

다음 중 출력결과가 다른 것 한개를 고르시오.

print("you" "need" "python")  
print("you"+"need"+"python")  
print("you", "need", "python")  
print("".join(["you", "need", "python"]))

In [48]:
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

[문제4] 한줄 구구단

사용자로부터 2~9 까지의 숫자중 하나를 입력받아 해당 숫자의 구구단을 한줄로 출력하는 프로그램을 작성하시오.

실행 예

구구단을 출력할 숫자를 입력하세요(2~9): 2  
2 4 6 8 10 12 14 16 18

In [53]:
def nineByNineInput():
    n = int(input("2에서 9사이의 값을 입력해 주세요"))
    if n < 2 or n > 9:
        print("잘 못 된 정수 값. 2에서 9 사이의 값을 입력해 주세요.")
    else:
        for i in range(1,10):
            answer = n * i
            print("%a" % (answer), end = ' ')

In [54]:
nineByNineInput()

2에서 9사이의 값을 입력해 주세요2
2 4 6 8 10 12 14 16 18

### 파일 읽고 쓰기

[문제1] 파일 읽고 출력하기

다음은 "test.txt"라는 파일에 "Life is too short" 라는 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

f1 = open("test.txt", 'w')  
f1.write("Life is too short")  

f2 = open("test.txt", 'r')  
print(f2.read())  

이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정하시오.

In [62]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")

f2 = open("test.txt", 'r')
line = f2.readline()
print(line)

f1.close()
f2.close()

Life is too short

[문제2] 파일저장

사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성하시오. (단, 프로그램을 다시 실행하더라도 기존 작성한 내용을 유지하고 새로 입력한 내용이 추가되어야 한다.)

다음은 실행 예제이다.

저장할 내용을 입력하세요:  
실행 할 때마다 사용자가 입력한 내용이 test.txt파일에 추가되어야 한다.

In [9]:
with open("test.txt", "a") as f:
    input1 = input("저장할 내용을 입력하세요")
    input1 = input1 + "\n"
    f.write(input1)

저장할 내용을 입력하세요메롱

In [10]:
with open("test.txt", "r") as f:
    line = f.readlines()
    print(line)

['Life is too short내용입니다내용입니다\n', '\n', '메롱\n']

[문제3] 역순 저장

다음과 같은 내용의 파일 abc.txt가 있다.

abc.txt  

AAA  
BBB  
CCC  
DDD  
EEE  
이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.

EEE  
DDD  
CCC  
BBB  
AAA

In [49]:
with open("abc.txt", "w") as f:
    lines = ["AAA\n", "BBB\n", "CCC\n", "DDD\n", "EEE\n"]
    for line in lines:
        f.write(line)

In [50]:
with open("abc.txt", "r") as f:
    lines = f.readlines()
    print(lines)

['AAA\n', 'BBB\n', 'CCC\n', 'DDD\n', 'EEE\n']

In [59]:
lines.reverse()
with open("abc.txt", "w") as f:
    for line in lines:
        f.write(line)

In [60]:
with open("abc.txt", "r") as f:
    lines = f.readlines()
    print(lines)

['EEE\n', 'DDD\n', 'CCC\n', 'BBB\n', 'AAA\n']

[문제4] 파일 수정

다음과 같은 내용을 지닌 파일 test.txt 가 있다.  

test.txt  

Life is too short 
you need java  
이 파일의 내용중 java라는 문자열을 python으로 바꾸어서 저장하시오.

In [86]:
with open("test.txt", "r") as f:
    lines = f.readlines()
    print(lines)

['Life is too short, you need java']

In [93]:
sentence = " ".join(lines[0].split())
sentence = sentence.replace("java", "python")
with open("test.txt", "w") as f:
    f.write(sentence)

In [94]:
with open("test.txt", "r") as f:
    lines = f.readlines()
    print(lines)

['Life is too short, you need python']

[문제5] 평균값 구하기

다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다.

sample.txt

70  
60  
55  
75  
95  
90  
80  
80  
85  
100  
sample.txt 파일의 숫자값을 모두 읽어 총합과 평균값을 구한 후 평균값을 result.txt라는 파일에 쓰는 프로그램을 작성해 보자.

In [115]:
with open("sample.txt", "r") as f:
    lines = f.readlines()

total = 0
avg = 0
for line in lines:
    total += int(line)
    
avg = total / len(lines)
print(total)
print(avg)

['70\n', '60\n', '55\n', '75\n', '95\n', '90\n', '80\n', '80\n', '85\n', '100']
70

60

55

75

95

90

80

80

85

100
790
79.0

In [116]:
with open("sample.txt", "a") as f:
    f.write("\n" + str(avg))

In [117]:
with open("sample.txt", "r") as f:
    lines = f.readlines()
    print(lines)

['70\n', '60\n', '55\n', '75\n', '95\n', '90\n', '80\n', '80\n', '85\n', '100\n', '79.0']