In [1]:
1+1

[1] 2

In [2]:
7 - 4

[1] 3

In [3]:
3 * 4

[1] 12

In [4]:
1 + 2 == 3

[1] TRUE

In [5]:
1 + 2 == 4

[1] FALSE

In [6]:
1 + 2 != 4

[1] TRUE

In [7]:
1 + 2 > 4

[1] FALSE

In [8]:
1 + 2 < 4

[1] TRUE

In [9]:
# >는 초과, >= 이상
1 + 2 >= 3

[1] TRUE

In [10]:
# <는 미만, <= 이하
1 + 2 <= 3

[1] TRUE

In [12]:
# & 양쪽 다 참이어야 TRUE 반환
5 < 7 & 5 > 3

[1] TRUE

In [13]:
# 명시적으로 소괄호를 써주면 가독성이 올라간다.
(5 < 7) & (5 > 3)

[1] TRUE

In [14]:
(5 < 7) & (5 < 3)

[1] FALSE

In [16]:
# | 양쪽 중 하나만 참이면 TRUE 반환
(5 < 7) | (5 < 3)

[1] TRUE

## 변수

In [17]:
a <- 3
b <- 5
a + b

[1] 8

In [18]:
# 연산은 같지만 변수가 다르기 때문에 다른 값이 나온다.
a <- 3
b <- 13
a + b

[1] 16

In [19]:
# 변수에 연산 결과를 저장
a <- 3
a <- a + 1
print(a)
a = a + 2
a

[1] 4

[1] 6

## 문자열

In [20]:
# int == integer == 정수형
# str == string == 문자열

In [22]:
"Hello World!" # ""로 감싸주어야 문자열로 인식

[1] "Hello World!"

In [24]:
'Hello World!' # '' 문자열에 '가 없으면 문제 없이 작동

[1] "Hello World!"

In [25]:
"1" + "2" # python과 달리 해당 연산은 작동하지 않는다.

ERROR: Error in "1" + "2": non-numeric argument to binary operator

In [28]:
paste0("1","2") # 문자열의 합 연산

[1] "12"

In [30]:
1 == "1" # python과 달리 R은 문자열 1을 자동으로 숫자 1로 Convert한다
# 이는 R이 python과 달리 수학 / 통계 계산을 위해 개발되었기 때문인듯.

[1] TRUE

In [32]:
"C" == "c" # 대문자 C와 소문자 c는 다르다

[1] FALSE

In [33]:
"C" == "C"

[1] TRUE

## 불(Bool)

In [34]:
TRUE # TRUE는 true와 True와 다르다.

[1] TRUE

In [35]:
FALSE

[1] FALSE

In [36]:
TRUE == 1 # TRUE는 1과 같고 FALSE는 0과 같다.

[1] TRUE

In [37]:
FALSE == 0

[1] TRUE

In [40]:
TRUE == "TRUE" # 자동으로 형이 변환되어 TRUE 반환 (python과 다름)

[1] TRUE

## 문자열(심화)

In [42]:
message <- "Hello World!"
message

[1] "Hello World!"

In [43]:
message

[1] "Hello World!"

In [50]:
message[1] # python과 달리 R은 해당 인덱싱을 지원하지 않는다.

[1] "Hello World!"

In [52]:
substr(message, 1, 1) # python의 message[0] 과 같다. 
# 또한 시작은 0이 아닌 1부터

[1] "H"

In [53]:
substr(message,2,2)

[1] "e"

In [61]:
substr(message,-1,-1) # Base R에서는 Backward indexing을 지원하지 않음

[1] ""

In [64]:
substr(message, 1, 4) # 인덱스 1부터 4까지 출력

[1] "Hell"

In [68]:
grepl("H", message)

[1] TRUE

In [69]:
grepl("h", message)

[1] FALSE

In [70]:
grepl("Hell", message)

[1] TRUE

## list

In [95]:
odd = list(1,3,5,7,9)

In [96]:
1 %in% odd

[1] TRUE

In [97]:
2 %in% odd

[1] FALSE

In [98]:
3 %in% odd

[1] TRUE

In [99]:
odd.append(11) # 리스트에 값 추가

ERROR: Error in odd.append(11): could not find function "odd.append"

In [100]:
odd <- append(odd,11)

In [101]:
odd

[[1]]
[1] 1

[[2]]
[1] 3

[[3]]
[1] 5

[[4]]
[1] 7

[[5]]
[1] 9

[[6]]
[1] 11

In [102]:
odd <- rev(odd)
odd

[[1]]
[1] 11

[[2]]
[1] 9

[[3]]
[1] 7

[[4]]
[1] 5

[[5]]
[1] 3

[[6]]
[1] 1

In [105]:
odd <- odd[odd != 11]
odd

[[1]]
[1] 9

[[2]]
[1] 7

[[3]]
[1] 5

[[4]]
[1] 3

[[5]]
[1] 1

## 제어문(if 문)

In [109]:
age = 10

if(age < 5) {
    print("아이")
} else if(age < 18){
    print("학생")
} else {
    print("어른")
}

[1] "학생"

## 반복문 (for 문)

In [113]:
basket <- list('apple', 'banana', 'chicken', 'pineapple', 'cherry')

print(basket[1])
print(basket[2])
print(basket[3])
print(basket[4])
print(basket[5])

[[1]]
[1] "apple"

[[1]]
[1] "banana"

[[1]]
[1] "chicken"

[[1]]
[1] "pineapple"

[[1]]
[1] "cherry"

In [116]:
for (product in basket) {
    print(product)
}

[1] "apple"
[1] "banana"
[1] "chicken"
[1] "pineapple"
[1] "cherry"

In [117]:
for (i in 1:10) {
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [119]:
for (i in 1:9) {
    if (i == 5) {
        print("bang!")
    }
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] "bang!"
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

## 함수

In [122]:
multiply <- function(a,b) {
    c <- a * b
    return(c)
}

In [123]:
multiply(2,3)

[1] 6