In [63]:
import pandas as pd
import seaborn as sns

## Load Dataset

In [64]:
train = pd.read_csv("data/bike/train.csv")

train["datetime"] = pd.to_datetime(train["datetime"])

# train["datetime"].dt.year (month/day/hour/minute/second)

print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [65]:
test = pd.read_csv("data/bike/test.csv")

test["datetime"] = pd.to_datetime(test["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

### Train

In [66]:
feature_names = ["datetime","season","holiday","workingday","weather","temp","atemp","humidity","windspeed"]
feature_names

['datetime',
 'season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed']

In [67]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0

In [68]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [69]:
label_name = "count"

Y_train = train[label_name]

print(Y_train.shape)
Y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

### Use Decision Tree

In [70]:

#from sklearn.tree import DecisionTreeRegressor
#
#model = DecisionTreeRegressor(random_state = 37)
#model

### Random Forest

Random Forest

- Sampling을 하고 이 Sample로 Decision Tree를 만든다
- 해당 작업을 반복하고, 투표를 통해 가장 효율적인 알고리즘을 만든다.

In [71]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state = 37)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

In [72]:
model.fit(X_train, Y_train)

TypeError: float() argument must be a string or a number, not 'Timestamp'

In [73]:
model.predict(X_test)

NotFittedError: This RandomForestRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this method.

In [58]:
predictions = model.predict(X_test)

In [59]:
print(predictions.shape)
predictions

(6493,)

array([104.55      ,  38.85      ,  38.85      , ...,  81.1       ,
        54.16666667,  15.25833333])

### Submit

In [60]:
submit = pd.read_csv("data/bike/sampleSubmission.csv")

submit["count"] = predictions
print(submit.shape)
submit.head()

(6493, 2)

              datetime   count
0  2011-01-20 00:00:00  104.55
1  2011-01-20 01:00:00   38.85
2  2011-01-20 02:00:00   38.85
3  2011-01-20 03:00:00   97.30
4  2011-01-20 04:00:00   97.30

In [61]:
submit.to_csv("data/bike/Submission_RandomForest.csv", index = False)